*/1 * * * * /bin/bash /root/run.sh >> /var/log/cron.log 2>&1
*/2 * * * * /bin/bash /root/zip.sh >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job


